/* Sidebar
-----------------------------------------------------------------------------------------*/
.menusign {
  display: block;
  width: 10px;
  line-height: .3;
  font-size: 2em;
  margin: .5em;
}
.menusign br {
  height: 0;
}

.sidebar {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  height: 100%;
  width: 260px;
  background: #f3f3f3;
  -webkit-transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s;
  -webkit-box-shadow: 0.5em 0 0 0 #1abc9c, 0.6em 0 0 0 #17a689;
  box-shadow: 0.5em 0 0 0 #1abc9c, 0.6em 0 0 0 #17a689;
}
.sidebar #close {
  //float: right;
  //margin: -5.5rem 1rem;
  //font-size: 1.4em;
  //color: #fa598d;
  //text-align: right;
}

.sidebar.closed {
  left: -260px;
  -webkit-box-shadow: 0 0 0 #1abc9c;
  box-shadow: 0 0 0 #1abc9c;
}
.sidebar h2 {
  padding: .5em;
  color: #1abc9c;
}
.sidebar ul {
  padding: 0;
  margin: 0;
}
.sidebar ul li {
  width: 90%;
  margin: 5px 10px;
  float: left;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid #1abc9c;
  background: #1abc9c;
  color: #f3f3f3;
}
.sidebar ul li a {
  color: white;
}
.sidebar ul li:hover {
  background: #17a689;
  border-color: #17a689;
}
.background-sidebar{
  background-image: url(https://tiki.vn/images/authentication.svg);
  height: calc(56px*3);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
#wrap-container{
  margin-top: 80px;
}

.footer a {
  color: #17a689;
}

/* Blurred class

This class is added to the container
(#blurMe) when the sidebar is open.
-----------------------------------*/
.blurred {
  transition: all 0.6s ease;
  filter: blur(10px);
}

/* Logo effect
-----------------------------*/
@-webkit-keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}
@keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}