.menubar {
  min-height: 0!important;
  #nav {

  }
}

.nav {
  height: 53px;
  width: 100%;
  padding-left: 0px;
  background: #640203;
  padding: 0px;
  margin: 0px;
  height: 53px;
  margin: 0 auto;
  font-family: 'Conv_Lato-Regular', Helvetica, Arial, sans-serif;
}

.nav li {
  list-style: none;
  float: left;
  line-height: 53px;
  height: 53px;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
  font-weight: normal;
  margin: 0px 1px 0px 0px;
}

.nav li:first-child {
  border-left: none;
}

.nav li a {
  color: #FFF;
  text-decoration: none;
  display: inherit;
  padding: 0px 15px;
  line-height: 53px;
}

.nav li:hover, .nav li.active {
  background: #d10507;
}

.nav li ul.submnu1 {
  position: absolute;
  top: 100%;
  left: -1px;
  padding: 0px;
  margin: 0px;
  z-index: 99999;
  width: 250px;
  background: #640203;
  border-top: none;
  display: none;
  padding-top: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-top: solid 2px #D10507;
}

.nav li ul li {
  text-transform: none;
  width: 100%;
  float: none;
  border-top: solid 1px #8e0305;
  border-bottom: solid 1px #490102;
  height: auto;
  position: relative;
  padding: 0px;
  border-left: none;
  font-size: 12px;
}

.nav li ul li:first-child {
  border-top: none;
}

.nav li ul li:hover {
  background: #8f0203;
}

.nav li ul li:last-child {
  border-bottom: none;
}

.nav li ul li a {
  color: #fff;
  height: auto;
  padding: 10px 6px;
  line-height: normal;
}

.nav li ul li:hover a {
  color: #FFF;
}

.nav .bigmenu {
  width: 600px;
  position: absolute;
  top: 100%;
  left: 0px;
  background: #f5f5f5;
  display: none;
  z-index: 99999;
  font-family: Arial, Helvetica, sans-serif;
  border: solid 5px #CCC;
  border-top: none;
  left: -320px;
}

.nav .bigmenu ul {
  padding: 5px;
  margin: 0px;
}

.nav .bigmenu li {
  width: 33.33%;
  float: left;
  line-height: normal;
  border: none;
  padding: 0px 5px;
}

.nav .bigmenu ul li a {
  color: #333;
  display: inherit;
  border-bottom: solid 1px #CCC;
}

.nav li .bigmenu li:hover a {
  background: #0490de;
  border-bottom: solid 1px #0490de;
}

.nav .bigmenu:after, .nav .bigmenu:before {
  bottom: 100%;
  left: 380px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.nav .bigmenu:after {
  border-color: rgba(241, 241, 241, 0);
  border-bottom-color: #f1f1f1;
  border-width: 5px;
  margin-left: -5px;
}

.nav .bigmenu:before {
  border-color: rgba(221, 221, 221, 0);
  border-bottom-color: #DDDDDD;
  border-width: 10px;
  margin-left: -10px;
}

.nav li ul.submnu1 li {
  position: relative;
}

.nav li ul.submnu1 li ul {
  position: absolute;
  top: -1px;
  left: 100%;
  display: none;
  width: 250px;
  background: #640203;
  padding: 0px;
  margin: 0px;
}

.nav li ul.submnu1 li ul li {
  border-top: solid 1px #8e0305;
  border-bottom: solid 1px #490102;
}
.mobile-search{
  position:absolute;
  top:100%;
  left:10px;
  z-index:99999;
  max-width:90%;
  padding-top:12px;
  display:none;
}

.mobile-search .box{
  position: relative;
  background: #f1f1f1;
  border: 1px solid #DDDDDD;
}
.mobile-search .box:after, .mobile-search .box:before {
  bottom: 100%;
  left: 95px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.mobile-search .box:after {
  border-color: rgba(241, 241, 241, 0);
  border-bottom-color: #f1f1f1;
  border-width: 10px;
  margin-left: -10px;
}
.mobile-search .box:before {
  border-color: rgba(221, 221, 221, 0);
  border-bottom-color: #DDDDDD;
  border-width: 12px;
  margin-left: -12px;
}
.box-mobile-fillter{

  background-color: #EEE;
  padding-right: 0px;
}

.box-mobile-fillter input{
  height: 30px;
  border: solid 1px #CCC;
  width: 100%;

}

.box-mobile-fillter select{
  height: 30px;
  border: solid 1px #CCC;
  width: 100%;

}

.search-mobile-submit{
  height: 30px;
  text-align: center;
  width: 100%;
  background:#640203;
  display: block;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 8px;
}
.c,.c5,.c10,.c15,.c20,.c30,.c3,.c2{
  clear:both;
}
.c{
  height:1px;
}
.c2{
  height:2px;
}
.c3{
  height:3px;
}
.c5{
  height:5px;
}
.c10{
  height:10px;
}
.c15{
  height:15px;
}
.c20{
  height:20px;
}
.c30{
  height:30px;
}
.mobile-lang-bar{
  float:right;
  margin-right:5px;
  border:solid 1px #FFF;
  position:relative;
  padding:7px 10px;
  margin-top:10px;
  color:#FFF;
  cursor:pointer;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}
.mobile-lang-bar i.fa{
  margin-left:10px;
}
.mobile-lang-bar .droplang{
  width:104%;
  background:#D10507;
  height:50px;
  position:absolute;
  top:96%;
  right:-2px;
  display:none;
}
.mobile-lang-bar .droplang a{
  display:block;
  border-bottom:solid 1px #FFF;
  padding:4px 5px;
  text-align:center;
  color:#FFF;
  text-decoration:none;
}
.mobile-lang-bar .droplang a:hover{
  background:#8f0203;
}